FLASK_SECRET_KEY=change-me-to-a-random-string
VIRUSTOTAL_API_KEY=your-virustotal-api-key
IPREGISTRY_API_KEY=your-ipregistry-api-key
SPLUNK_API_TOKEN=your-splunk-token
SPLUNK_HOST=splunk.organization.org
DEBUG=true
LISTS_CONFIG_FILEPATH=./temp/lists.json
ACCESS_LOG_FILEPATH=./temp/log.txt
RECENTLY_ADDED_IPS_FILEPATH=./lists/recently-added-ips.json
LAST_50_LINES_FILEPATH=./lists/last-50-lines.json
